---
import ProjectItems from "./project-items.astro";
import type { Projects } from "../../types/index.ts";

interface Props {
  projects: Projects[];
  label: string;
  folderImage: string;
}
const { projects, label, folderImage } = Astro.props;
---

<div class="flex flex-col gap-y-1">
  <h2 class="text-sm font-serif font-bold">{label}</h2>
  <div
    class="flex gap-x-6 cursor-grab ml-3 overflow-x-clip overflow-y-hidden items transition scroll-smooth"
  >
    {
      projects.map((project) => (
        <ProjectItems
          id={project.id}
          key={project.id}
          images={project.images[0]}
          folderImage={folderImage}
          title={project.name}
        />
      ))
    }
  </div>
</div>
